In [8]:
                                # Project Outline and Code to be Used in Each Section
                                 # Reference Lecture 11 Notes for more information

In [4]:
                                             # Section 1: Data Inspection Commands

In [3]:
import pandas as pd
bikedf = pd.read_csv(r"C:\Users\nosra\OneDrive\Documents\College 2020-2024\Classes\Semester 7\Python for Business Analytics\Python Project\bike+sharing+dataset\day.csv", index_col = False)

bikedf["temp"] = ((bikedf["temp"]*41)*(9/5)) + 32

bikedf
# Shows the # of rows/columns

#df.info
# Shows dataframe metadata/general info

#df.head
#df.tail
#Shows the first 5 rows/last rows

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,Temperatue
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985,57.399525
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801,58.824676
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349,46.491663
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562,46.760000
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600,48.749427
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,727,2012-12-27,1,1,12,0,4,1,2,0.254167,0.226642,0.652917,0.350133,247,1867,2114,50.757525
727,728,2012-12-28,1,1,12,0,5,1,2,0.253333,0.255046,0.590000,0.155471,644,2451,3095,50.695975
728,729,2012-12-29,1,1,12,0,6,0,2,0.253333,0.242400,0.752917,0.124383,159,1182,1341,50.695975
729,730,2012-12-30,1,1,12,0,0,0,1,0.255833,0.231700,0.483333,0.350754,364,1432,1796,50.880475
730,731,2012-12-31,1,1,12,0,1,1,2,0.215833,0.223487,0.577500,0.154846,439,2290,2729,47.928475

In [ ]:
                                          # Section 2: Summary Statistics Commands

In [ ]:
df.min
df.max
df.avg

df["COLUMN NAME"].value_counts() 
# Shows the number of each unique value in a column

housing.describe()
#Shows count, mean, std, min, 25%, 50%, 75%, max

In [ ]:
                                          # Section 3: Correlations Commands

In [ ]:
df.corr
#Generates a correlation matrix

df["COLUMN NAME"].sort_values(ascending=False)
# Check the correlation between values in 1 specfic column and the ones in all the other columns

In [ ]:
                                    # Section 4: Histogram and Scatterplot Commands

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

df.hist(bins=50, figsize=(20,15))
plt.show()
# 1. HISTOGRAM
# Bins is how many bins you want on the histogram. Bins are used to count the number of observations in a specific range
# FigSize is how big you want the image/figure to display on the page
# Plt.show shows the histogram

plt.scatter(df["COLUMN NAME"], df["COLUMN NAME"])
# 2. Scatterplot

plt.pie(df["COLUMN NAME"], labels = df.["COLUMN NAME"])
# 3. Pie Chart

In [ ]:
                                     # Section 5: Missing Data/Data Cleaning+Prep Commands

In [ ]:
df.drop("COLUMN NAME", axis=1)
# Dropping a Column

sample_incomplete_rows = df[df.isnull().any(axis=1)]
sample_incomplete_rows
# Showing null values

median = df["COLUMN NAME"].median() 
df["COLUMN NAME"].fillna(median, inplace=True)
# Calulating the median value and replacing all nulls with the median value

In [ ]:
                                       # Section 6: New Feature(Column) Creation Commands

In [ ]:
dataframe["COLUMN3"] = dataframe["COLUMN1"]/dataframe["COLUMN2"]
# Basically caluculated fields in Tableau

dataframe["COLUMN6"] = dataframe["COLUMN4"]-dataframe["COLUMN5"]

In [ ]:
                                     # Section 7: Non-Numeric Features and Encoding Commands

In [ ]:
????????
# I don't understand how this works yet

In [ ]:
                                    # Section 8: Creating the TRAIN & TEST Datasets for the Model

In [ ]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(dataframe, test_size=0.3, random_state=42)
train_set
test_set
# Creates the training dataset and the testing dataset. Shows both

dataframe_train_X = train_set.drop("COLUMN1", axis=1) 
dataframe_train_y = train_set["COLUMN1"].copy()
# Create the X and Y training datasets, it is important to separate them so you can use X to predict Y

dataframe_test_X = test_set.drop("COLUMN1", axis=1) 
dataframe_test_y = test_set["COLUMN1"].copy()
# Do the same thing for the test set

In [ ]:
                                    # Section 9: Actually Training the Model

In [ ]:
# 1. Model Prediction
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
lin_reg.fit(dataframe_train_X, dataframe_train_y)
# Importing the model, giving it a name, and giving it the training datasets

lin_reg.coef_
pd.DataFrame(lin_reg.coef_, index = dataframe_train_X.columns)
# ~~ Analyzing the regression coefficients with their respective names

#
#
#



# 2. Model Evaluation
from sklearn.metrics import mean_squared_error
import numpy as np
housing_predictions = lin_reg.predict(housing_train_X)
lin_mse = mean_squared_error(housing_train_y, housing_predictions)
lin_rmse = np.sqrt(lin_mse)
lin_rmse
# Using In-sample/Train Set evaluation to see how much error the model has  (Mean Squared Error)

housing_predictions_test = lin_reg.predict(housing_test_X)
lin_mse = mean_squared_error(housing_test_y, housing_predictions_test)
lin_rmse = np.sqrt(lin_mse)
lin_rmse
# Using Out-of-sample/Test Set  evaluation to see how much error (Mean Squared Error)

from sklearn.metrics import mean_absolute_error
lin_mae = mean_absolute_error(housing_test_y, housing_predictions_test)
lin_mae
# Using Out-of-sample evaluation to see how much error (Mean Absolute Error)

In [ ]:
# There is also a DecisionTreeREgressor model that we can use as opposed to 
# LinearRegression but it is not required for the project.

# It learns the pattern of training data very well, but it is worse at predicting test data
# It is used for prediction only, it does not explain anaything because it does not generate a line equation (y=Bx+E)